@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --secondary-orange: #ffcf66;
  --primary_red: #ef4036;
  --primary-hover-red: #f33501;
  --primary-dark: rgba(255, 255, 255, 0);
  --yummy-burgundy: #513;
  --deep-dark-blue: #022;
  --dark-purple: #313;
  --dark: #333;
  --tomato: #e44;

}

body {
  font-family: "Roboto Condesed" , sans-serif;
}


/**************************** NavBAR ****************************/
nav {
  z-index: 2;
}

.logo {
  width: 20rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1975rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem i !important;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
/*
.nav-link.active, .nav-link:focus { 
  border-bottom: 0.1975rem solid var(--primary-orange);
}*/

.nav-link:hover {
  border-bottom: 0.1975rem solid var(--primary-orange)
}


/*************************** Header ***********************************/
.header-wraper {
  position: relative;
  /*background: url(./pictures/aaa.jpg) no-repeat;*/
  background-color: #282c34;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.5 rem !important;
  }
}

/****************************** Typed Text **********************************/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white)
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important
  }

  .typed-text {
    font-size: 1.3rem !important;
  }
}

/******************************** Header main offer button *********************************/
.btn-main-offer {
  border: 1px solid var(--primary_red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin:2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color:var(--primary-hover-red);
  color:var(--primary-white);
  transition: .3s ease-in-out;
}

/********************************* Particles **************************************/
.tsparticles-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


/********************************* About **************************************/
.about-avatar {
  width: 15rem;
  margin: auto;
}

.about-wrapper {
  background-color: #282c34;
  position:relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.image-cropper {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  margin: auto;
}
